{% extends "layouts/main.twig" %}

{% block bodyId %}user-change-password{% endblock %}

{% block content %}
<div>
    <form action="{{ path_for('user-change-password')|e('html_attr') }}" method="post">
        {% set success = flash('change_password_form_success') %}
        {% if success is same as(true) or success is same as(false) %}
        <div class="alert {% if success %}alert-success{% else %}alert-danger{% endif %}" role="alert">{{ flash('change_password_form_message')|raw }}</div>
        {% endif %}

        <div class="form-group">
            <label for="current_password">Current password</label>
            <input type="password" name="current_password" id="current_password" class="form-control" required placeholder="*****">
        </div>

        <div class="form-group">
            <label for="password">New password</label>
            <input type="password" name="password" id="password" class="form-control" required placeholder="*****">
        </div>

        <div class="form-group">
            <label for="password_confirmation">Confirm new password</label>
            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" required placeholder="*****">
        </div>

        {{ csrf() }}

        <button type="submit" class="btn btn-primary">Change my password</button>
    </form>

    <p><a href="{{ path_for('user-account')|e('html_attr') }}">Go back to my account</a></p>
</div>
{% endblock %}
